.allPosts {
    width: $widthPages;
    margin: $marginPages;
    padding: $paddingPages;
    display: grid;
    grid-template-columns: $repeatGrid;


    &__links {
        background-color: $whiteTransparentBackground;
        display: flex;
        flex-direction: column;
        margin: $marginLinks;
        padding: $paddingLinks;
        height: 40vh;
        text-align: $align;

        &:hover {
            background-color: $hoverBackground;
            transition: $transition;
        }

        &--img {
            width: 100%;
        }

        &--header {
            padding: 5% 3%;
        }
    }
}

.showMorebtn {
    position: relative;
    top: -4vh;
    left: 47%;
    font-size: 1.5rem;
    padding: 0.5%;
    background-color: rgb(29, 121, 241);

    border: none;
    cursor: pointer;
    color: white;

    &:hover {
        background-color: rgb(6, 84, 187);
        transition: $transition;
    }
}

.noMorebtn {
    width: 10%;
    padding: 0.5% 1%;
    color: rgb(223, 24, 24);
    position: relative;
    left: 45%;
    font-size: 1.5rem;
    border: 1px solid rgb(223, 24, 24);
}