.mainPosts {
    background: linear-gradient(90deg, rgba(229, 229, 220, 1) 72%, rgba(25, 120, 165, 1) 72%);
}

.post {
    margin: $marginPages;
    padding: $paddingPages;

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        background-color: rgba(255, 255, 255);
        padding: 1%;

        &--info {
            padding: 10%;
            align-self: $align;


            &__date {
                position: absolute;
                top: 10%;
                left: 90%;
            }

            &__header {
                font-size: 2.5rem;
            }

            &__parag {
                font-size: 1.8rem;
            }
        }
    }
}

.comments {
    margin: 3% 0%;
    line-height: 2rem;

    &>h2 {
        background-color: $greenBackground;
        width: 130%;
        position: relative;
        left: -15%;
        text-align: center;
        padding: 1% 0%;
        // margin: 0% 5%;
    }

    &__content {

        &--info {
            margin: 2% 0;
            padding-bottom: 1%;
            display: grid;
            padding: 1% 2%;

            &:nth-child(odd) {
                background-color: rgba(106, 232, 248);
            }

            &:nth-child(even) {
                background-color: rgba(100, 194, 248);
            }

            &__name,
            &__email {
                font-size: 1.1rem;
            }

            &__span {
                font-weight: bold;
            }

            &__text {
                font-size: 1.3rem;
            }
        }
    }
}

//Form style
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#name,
#email {
    padding: 1.5% 2%;
    margin: 1% 0.5%;
    border-radius: $borderRadius;
    border: $border $grey;

    &::placeholder {
        font-size: 1.2rem;
        font-family: $fontFamily;
    }
}

#comment {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0.5% 1%;
    margin: 1% 0.3%;
    border-radius: $borderRadius;
    height: 10vh;

    &::placeholder {
        font-size: 1.2rem;
        font-family: $fontFamily;
    }
}

#submit {
    border-radius: $borderRadius;
    padding: 0.7% 0%;
    margin: 0.5% 0.5%;
    font-size: 1.3rem;
    width: 25%;
    border: 1px solid black;
    font-family: $fontFamily;
}

.sendBtn {
    position: relative;
    top: 1vh;
    left: 0.2%;
    font-size: 1.5rem;
    padding: 0.5%;
    background-color: rgb(29, 121, 241);
    border: none;
    cursor: pointer;
    color: white;

    &:hover {
        background-color: rgb(6, 84, 187);
        transition: $transition;
    }

}