.mainBigPost {
    background-image: url("../../public/background/ed-van-duijn-2uTjeMfeVEU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: $paddingPages;
}

.bigPosts {
    width: $widthPages;
    margin: $marginPages;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2%;

    &__slider {
        padding: 0;
        position: relative;
    }

    &__link {
        display: flex;
        flex-direction: row;
        align-items: $align;

        &--img {
            padding: 0% 0.1%;
        }

        &--content {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 17%;
            left: 55%;
            width: 45%;
            padding: 5% 3%;

            &__header {
                font-size: 3rem;
            }
        }

    }
}