.manyPosts {
    padding: 2%;
    width: 100%;
    background-color: #e5e5dc;

    &__display {
        width: 80%;
        margin: 3% 8.5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5vw;
        row-gap: 7vh;

        &--link {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 2%;

            &:hover {
                background-color: rgba(90, 190, 230, 0.5);
                transition: all 0.2s;
                // color: white;
            }
        }

        &--content {
            display: flex;
            flex-direction: column;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 5%;

        &--header {
            font-size: 1.3rem;
        }

        &--date {
            position: relative;
            left: 70%;
        }
    }
}