.manyPosts {
    padding: $paddingPages;
    width: 100%;
    background-color: $creamBackground;

    &__display {
        width: $widthPages;
        margin: $marginPages;
        display: grid;
        grid-template-columns: $repeatGrid;
        column-gap: 5vw;
        row-gap: 7vh;

        &--link {
            background-color: $whiteTransparentBackground;
            padding: 2%;

            &:hover {
                background-color: $hoverBackground;
                transition: $transition;
            }
        }

        &--content {
            display: flex;
            flex-direction: column;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 5%;

        &--header {
            font-size: 1.3rem;
        }

        &--date {
            position: relative;
            left: 70%;
        }
    }
}