.manyPosts {
    margin: 5% 0%;
    padding: 2%;
    width: 100%;
    background-color: rgba(231, 229, 229, 0.89);

    &__header {
        margin: 2% 10%;
    }

    &__display {
        width: 80%;
        margin: 0% 10%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5vw;
        row-gap: 7vh;

        &--link {
            border: 1px solid rgba(219, 219, 219, 0.746);
        }

        &--content {
            display: flex;
            flex-direction: column;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 5%;

        &--date {
            position: relative;
            left: 70%;
        }
    }
}