.mainOldPosts {
    background-color: #daf2dc;
}

.oldPosts {
    width: $widthPages;
    margin: $marginPages;
    padding: $paddingPages;
    display: flex;
    flex-direction: row;

    &__header {
        width: 30%;
        padding: 4% 10%;
    }

    &__display {
        display: flex;
        flex-direction: column;
        width: 70%;

        &--content {
            border-bottom: $border $grey;
            padding: 2% 2%;

            &>a>h2 {
                margin: 0;
            }
        }

        &--user {
            position: relative;
            top: 20%;
            text-align: right;

            &>h5 {
                margin: 0;
            }
        }
    }
}