.allUsers {
    width: 80%;
    margin: 0% 10%;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__links {
        background-color: rgba(255, 255, 255, 0.5);
        margin: 8%;
        padding: 3%;

        &--content {
            &__mail {
                border-top: 1px solid rgb(207, 206, 206);
                padding-top: 3%;
                font-size: 1.1rem;
            }
        }
    }
}