label {
    font-weight: bold;
}

.mainUser {
    // background-color: $creamBackground;
    // background: linear-gradient(90deg, rgba(25, 120, 165, 1) 0%, rgba(229, 229, 220, 1) 48%);
    // background: linear-gradient(90deg, rgba(5, 113, 108, 1) 37%, rgba(229, 229, 220, 1) 37%);
    background: linear-gradient(90deg, rgba(25, 120, 165, 1) 37%, rgba(229, 229, 220, 1) 37%);
}

.userPage {
    width: $widthPages;
    margin: $marginPages;
    padding: $paddingPages;

    &__info {
        position: relative;
        background-color: $whiteTransparentBackground;
        padding: 1.5%;

        &--content {
            position: absolute;
            top: 10%;
            left: 60%;
            font-size: 1.4rem;
            line-height: 2rem;


        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &--living {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    &__living {
        width: 50%;

        &--content {
            width: 300%;
        }
    }

    &__moreLiving {
        position: absolute;
        top: 83%;
        left: 100%;
        width: 100%;

        &--btn {
            border: none;
            background: none;
            cursor: pointer;
        }
    }

    &__company {
        position: absolute;
        top: 45vh;

        &--title {
            width: 180%;
        }
    }

    &__allPosts {
        padding: 1% 0%;

        &--header {
            text-align: center;
            background-color: $greenBackground;
            // height: 5vh;
            padding: 1% 0%;
        }
    }
}