label {
    font-weight: bold;
}

.mainUser {
    background: linear-gradient(90deg, rgba(25, 120, 165, 1) 37%, rgba(229, 229, 220, 1) 37%);
}

.userPage {
    width: $widthPages;
    margin: $marginPages;
    padding: $paddingPages;

    &__info {
        position: relative;
        background-color: $whiteTransparentBackground;
        padding: 1.5%;

        &--content {
            position: absolute;
            top: 10%;
            left: 60%;
            font-size: 1.4rem;
            line-height: 2rem;


        }
    }

    &__grid {
        position: relative;
        left: -10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 85%;
        align-items: center;


        &--living {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    &__living {
        width: 35%;

        &--content {
            width: 300%;
        }
    }

    &__moreLiving {
        position: absolute;
        top: 83%;
        left: 90%;
        width: 100%;


        &--btn {
            border: none;
            background: none;
            cursor: pointer;
            position: relative;
            left: -15%;
            // background-color: blue;

            &:hover {
                border-bottom: 1px solid blue;
            }
        }
    }

    &__company {
        position: absolute;
        top: 45vh;

        &--title {
            width: 180%;
        }
    }

    &__allPosts {
        padding: 1% 0%;

        &--header {
            text-align: center;
            background-color: $greenBackground;
            // height: 5vh;
            padding: 1% 0%;
        }
    }
}