.allUsers {
    width: $widthPages;
    margin: $marginPages;
    padding: $paddingPages;
    display: grid;
    grid-template-columns: $repeatGrid;

    &__links {
        background-color: $whiteTransparentBackground;
        margin: $marginLinks;
        padding: $paddingLinks;

        &:hover {
            background-color: $hoverBackground;
            transition: $transition;
        }

        &--content {
            &__mail {
                border-top: $border rgb(207, 206, 206);
                padding-top: 3%;
                font-size: 1.1rem;
            }
        }
    }
}